h1 {
  text-align: center;
}

main {
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
}

div {
  margin: 25px;
  padding: 5px;
  border-style: solid;
}

img {
  width: 350px;
  height: 400px;
  align-content: center;
}

image {
  justify-content: bottom;
}

h2 {
  justify-content: center;
  padding-left: 55px;
  padding-top: 2px;
  margin-top: 2px;
}

input#pokemonLike {
  background: red;
  display: block;
  margin-left: 160px;
  margin-bottom: 20px;
}

.topNav {
  margin-left: 1095px;
}

.topNav a {
  padding: 20px;
}
