body {
  background-image: url("https://i.imgur.com/Yyyf213.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 130px;
  text-align: center;
  color: white;
  -webkit-text-stroke: 2px silver;
  margin: 0px;
}

a {
  color: red;
  text-decoration: none;
  font-family: Source sans Pro;
  font-weight: lighter;
}

a::after {
  content: " ";
  display: block;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

main {
  display: flex;
  flex-flow: wrap;
  align-content: center;
}

main#main {
  align-content: center;
  justify-content: center;
}

div.topNav {
  padding-right: 200px;
  text-align: end;
  font-size: xx-large;
}

div.card {
  margin: 50px;
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  display: relative;
}

div.card:hover {
  transform: scale(1.1);
}

img {
  width: 350px;
  height: 400px;
  align-content: center;
  border-radius: 6px;
  border: 2px;
}

image {
  justify-content: bottom;
}

h2.pokemon {
  text-align: center;
  margin-top: 2px;
  justify-content: center;
  padding-top: 2px;
  color: white;
}

input#pokemonLike {
  text-align: center;
  background: red;
  /* display: block; */
  margin-bottom: 20px;
}

/* .topNav {
  margin-left: 1095px;
}

.topNav a {
  padding: 20px;
} */

.signIn-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  display: none;
}

.model-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  position: relative;
}

input {
  width: 50%;
  display: block;
  margin: 15px auto;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
}

img#userImg {
  width: 70px;
  height: 70px;
}

.create-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  display: none;
}

#btn {
  position: relative;
  display: flex-box;
  bottom: 120%;
  left: 7%;
  font-size: 2em;
  transform: translate(-50%);
  transition: 0.4s;
  color: white;
}

#btn:hover {
  color: #f50057;
}
