div{
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
}

main{
    display: flex;
    flex-flow: wrap;
    align-content: space-around;
}

img{
    width: 350px;
    height: 400px;
}

h2{
    align-content: space-between;
}